.header {
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.header .logo {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.header nav {
    display: flex;
}



.header nav ul li {
    list-style: none;
    display: inline-block;
}

.header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    padding: 0 15px;
}

.header nav ul li a:hover {
    color: #af968b;
}

.header nav .navcart {
    cursor: pointer;
    position: relative;
}

.header nav .navcart span {
    position: absolute;
    top: -9px;
    right: -5px;
    background: #c5aca1;
    font-size: 10px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}

.header .menu,
.header .close {
    cursor: pointer;
    display: none;
}

@media (max-width: 650px) {
    .header ul {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background: #c5aca1;
        z-index: 100;
        opacity: 0.97;
        transition: 0.5s linear;
    }

    .header .menu,
    .header .close {
        display: block;
    }
    .header .close {
        position: absolute;
        top: 10px;
        right: 20px;
    }
}