#product {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    max-width: 350px;
    min-height: 500px;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 20px;
    box-shadow: 2px 8px 20px #ddd;
    margin: 10px;
    transition: 0.5s linear;
}

.card:hover {
    box-shadow: none;
}

.card img {
    max-width: 300px;
    width: 100%;
    height: 100%;
    max-height: 250px;
    border-radius: 10px;
    display: block;
    object-fit: cover;
}

.card h3 {
    text-transform: uppercase;
    margin: 10px 0;
}

.card h3 a {
    text-transform: none !important;
    color: #333;
}

.card h3 a:hover {
    color: crimson;    
}

.card span {
    color: crimson;
}

.card p {
    margin: 10px 0;
}

.card button {
    border: none;
    border-radius: 10px;
    outline: none;
    background: #c5aca1;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
}